# Xcode
DerivedData/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
